<%-include ('partials/header.ejs')%>
<body>
    <%-include('partials/navbar.ejs')%>
    <div class="container"> 
        <h1>Consulta de preços</h1>
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <form class="d-flex" role="search" method="post" action="/produto">
                    <input class="form-control me-2" type="search"   name="produto"  placeholder="Nome do produto" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">consultar</button>
                    <button class="btn btn-outline-success" type="submit">Listar</button>
                    </form>
                    
                </div>
            </nav>
            <br>
            <% produtos.forEach(produto => { %>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h3><%= produto.nome %></h3>
                        <h3><%= produto.preco %></h3>
                    </div>
                </div>
           <% }) %>

    </div>
</body>
<%-include('partials/footer.ejs')%>
